{{define "history_row"}}
<tr class="row-hover">
  <td class="truncate"><a class="link link-hover" href="/task/{{.ID}}">{{.Kind}}</a></td>
  <td class="text-xs font-mono truncate">{{if .Domain}}{{.Domain}}{{else}}{{template "empty_value"}}{{end}}</td>
  <td class="font-mono text-xs truncate">{{if .Origin}}{{.Origin}}{{else}}{{template "empty_value"}}{{end}}</td>
  <td class="text-xs whitespace-nowrap">{{template "rel_time" .}}</td>
  <td class="text-sm min-w-0">
    <span class="block truncate{{if eq .Status "failed"}} text-error{{end}}" title="{{.Message}}">{{.Message}}</span>
  </td>
</tr>
{{end}}
