{{define "rename_path_list"}}
{{if gt (len .Items) 0}}
<ul class="list bg-base-100 rounded-box border border-base-300 max-h-[60vh] overflow-y-auto">
  {{range .Items}}
  <li class="list-row py-3 px-3">
    <div class="list-col-grow min-w-0 flex flex-col gap-1">
      <div class="text-sm font-medium truncate" title="{{.SeriesTitle}} / {{.Title}}">{{.SeriesTitle}} / {{.Title}}</div>
      <div class="overflow-x-auto">
        <div class="font-mono text-xs whitespace-nowrap opacity-60" title="{{.From}}">{{.From}}</div>
        <div class="font-mono text-xs whitespace-nowrap" title="{{.To}}">{{.To}}</div>
      </div>
    </div>
  </li>
  {{end}}
</ul>
{{end}}
{{end}}
