{{define "series_list_row"}}
{{/* Dot: seriesListRow with Series fields + PosterURL Line2 KindIcon KindTip StatusInd BulkEditBusy */}}
{{template "list_row_shell" (dict
  "MediaURL" .PosterURL
  "MediaClass" "size-14 shrink-0"
  "Circle" true
  "PlaceholderIcon" "tv"
  "TitleHref" (printf "/series/%d" .ID)
  "Title" .Title
  "KindIcon" .KindIcon
  "KindTip" .KindTip
  "StatusInd" .StatusInd
  "Line2" .Line2
  "ShowProgress" true
  "ProgressTotal" .ProgressTotal
  "DownloadedCount" .DownloadedCount
  "ErrorCount" .ErrorCount
  "WantedCount" .WantedCount
  "Monitored" .Monitored
  "Select" (dict "ID" .ID "Disabled" .BulkEditBusy)
  "Monitor" (dict
    "Action" "/actions/set-series-monitored"
    "SeriesID" .ID
    "Monitored" .Monitored
    "Redirect" "/series"
    "LiveTarget" "series-list-live"
    "AsButton" true
    "Title" "Include this series in scans and download-wanted"
    "Disabled" .BulkEditBusy
  )
)}}
{{end}}
