{{define "series_list_row"}}
{{/* Dot: seriesListRow with Series fields + PosterURL Line2 KindIcon KindTip MonitorTitle Redirect LiveTarget StatusInd */}}
{{template "list_row_shell" (dict
  "MediaURL" .PosterURL
  "MediaClass" "size-14 shrink-0"
  "Circle" true
  "PlaceholderIcon" "tv"
  "TitleHref" (printf "/series/%d" .ID)
  "Title" .Title
  "KindIcon" .KindIcon
  "KindTip" .KindTip
  "StatusInd" .StatusInd
  "Line2" .Line2
  "ShowProgress" true
  "ProgressTotal" .ProgressTotal
  "DownloadedCount" .DownloadedCount
  "ErrorCount" .ErrorCount
  "WantedCount" .WantedCount
  "Monitored" .Monitored
  "Monitor" (dict
    "Action" "/actions/set-series-monitored"
    "SeriesID" .ID
    "Monitored" .Monitored
    "Redirect" .Redirect
    "Title" .MonitorTitle
    "AsButton" true
    "LiveTarget" .LiveTarget
  )
)}}
{{end}}
