{{define "title_regexp_field"}}
{{/*
  Go regexp title filter field.
  Expects optional: Value, ID, Name, Label, Info, Class.
  Defaults: Name title_regexp_include, Label Include (no Info tip).
*/}}
{{$name := .Name}}{{if not $name}}{{$name = "title_regexp_include"}}{{end}}
{{$label := .Label}}{{if not $label}}{{$label = "Include"}}{{end}}
{{template "field_input" (dict
  "Name" $name
  "ID" .ID
  "Label" $label
  "Value" .Value
  "Mono" true
  "Placeholder" "regexp"
  "Info" .Info
  "Class" .Class
)}}
{{end}}
