{{define "title_regexp_field"}}
{{/*
  Go regexp title filter field.
  Expects optional: Value, ID, Name, Label, Info.
  Defaults: Name title_regexp_include, Label Title include, include Info text.
*/}}
{{$name := .Name}}{{if not $name}}{{$name = "title_regexp_include"}}{{end}}
{{$label := .Label}}{{if not $label}}{{$label = "Title include"}}{{end}}
{{$info := .Info}}{{if not $info}}{{$info = "Go regexp matched against video titles. Only matching titles are indexed."}}{{end}}
{{template "field_input" (dict
  "Name" $name
  "ID" .ID
  "Label" $label
  "Value" .Value
  "Mono" true
  "Placeholder" "regexp"
  "Info" $info
  "Class" .Class
)}}
{{end}}
